/* .todoDetail{
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../components/img/forest.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .contenedorPadre{
      
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .contenedorDetalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 8px solid #003060;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    background: lightblue;
    width:500px
    
  } */